/* HEADER */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A */
}

body {
    background: white;
    /* padding: 3px; */
}

/* Navbar */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3%;
    background-color: white;
    border-bottom: #e7e7e7 1px outset;
}

/* Logo à esqureda */
.logo {
    cursor: pointer;
    height: 50px;
    margin-right: auto;
    /* color: white; */
    padding: 0px 10px 0px;
}

/* Menu direito */
li a {
    font-family: "Merriweather", serif;
    font-size: 15px;
    color: #e7e7e7;
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: #333333;
}

.nav__links li a:hover {
    color: #0088a9;
}

.nav-button {
    font-family: "Merriweather", serif;
    font-size: 15px;
    color: #e7e7e7;
    padding: 9px 15px;
    margin-left: 15px;
    background-color: rgba(50, 50, 50, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


/* NAME & BIO */
.bio {
    display: none;
    margin: 3%;
}

.quick-bio {
    margin: 5px;
    text-align: center;
    padding: 10px 0 20px 0;
    font-family: 'Merriweather', serif;
}

.quick-bio .name {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 25px;
}

.quick-bio .role {
    font-weight: normal;
    font-size: 18px;

    padding: 10px 0 10px 0;
}

.quick-bio .name, .role {
    color: #333333;
}

/* SOCIAL MEDIA */

.media {
    display: none;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 1px auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
}


article a .media-buttons {
    padding: 5px;
    border: none;
    font: inherit;
    color: rgba(50, 50, 50, 1);
    background-color: transparent;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 18px;

}

article a .media-buttons:hover {
    color: #0088a9;
}


article a .media-buttons i {
    padding: 5px;
    vertical-align: auto;
}

/* PORTFOLIO (API) */
.portfolio {
    border: black dotted;
    margin: 10%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    
}

.portfolio > div.screenshot {
    border: red solid 4px;  
    width: 500px;
    height: 300px;
    max-width: 100%;
    margin: 5px;
}

.repo-informations {
    border: orange solid;
    padding: 0 1% 5px 1%;
    margin-left: 35%;
}

.repo-informations ul li {
    list-style-type: none;
    padding: 20px 0 10px 0;
}

#repo-name {
    font-family: Arial, Helvetica, sans-serif;
}

#repo-description {
    font-size: 21px;
}

.repo-button {
    /* border: green solid; */
    padding: 9px 15px;
    background-color: beige;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.repo-button  i {
    /* border: rebeccapurple solid; */
    padding: auto;
}

.repo-button i.fa {
    border: green solid;
}
